* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    font-family: Arial, sans-serif;
}
a {
    text-decoration: none;
}

.top {
    background-color: black;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
}
.top_left p {
    padding: 9px 4px 11px 115px;
    display: inline-block;
    float: left;
    color: white;
    font-size: 0.688em;
    font-weight: 400;
    text-transform: uppercase;
}
.top_left p:last-child {
    font-size: 0.750em;
    padding: 8px 0 11px 6px;
}
.top_right {
    padding-right: 115px;
    display: inline-flex;
    float: right;
}

.exchange select {
    padding: 7px 10px;
    border-radius: 0;
    background: transparent;
    width: 72px;
    border: 0;
    line-height: 1;
    -webkit-appearance: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.688em;
}
.exchange {
    border-left: 1px solid #444;
    margin-right: 14px;
    overflow: hidden;
    width: 56px;
    background: url("../image/select.png")no-repeat right;
}

.user {
    box-sizing: border-box;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    border-right: 1px solid #444;
    border-left: 1px solid #444;
}
.user img {
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 7px;
}
.user a {
    display: inline-flex;
    padding-right: 15px;
    color: white;
    text-transform: uppercase;
    font-size: 0.688em;
   }
.fa-user {
    padding: 10px 10px 9px 14px;
    color: #666;
    font-size: 0.813em;
}

.search {
    border-right: 1px solid #444;
    cursor: pointer;
}
input.search-form {
    width: 36px;
    box-sizing: border-box;
    border: none;
    background-color: inherit;
    background-image: url('../image/search.png');
    background-position: 10px 5px;
    background-repeat: no-repeat;
    padding: 6px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    border: 1px solid black;
    background: white;
    width: 100%;
    }
.top_line {
    box-sizing: border-box;
    width: 80.91666666666667%;
    margin-left: 9.5%;
    margin-right: 9.583333333333333%;
    padding: 4px;
}
.logo {
    display: inline-block;
    padding: 38px 0 36px 0;
}
.logo img {
    width: 121px;
    height: 29px;
}

.menu {
    margin-left: 15.917%;
    display: inline-block;
    }
/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 1em;
    border: none;
    cursor: pointer;
}
.dropbtn img {
    padding: 0 0 3px 2px;
}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: black;
    color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 130px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    background-color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover, .dropdown-content a:focus {
    background-color: black;
    color: white;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.menu_mobile {
    display: none;
}
#cardcode {
    background: transparent;
    box-sizing: border-box;
    box-shadow: none;
    width: 240px;
    height: 32px;
    color: #949393;
    font-size: 0.750em;
    border-bottom: solid 1px #d6d6d6;
}
.right_bloc {
    position: relative;
    margin-top: 18px;
    box-sizing: border-box;
    width: 212px;
    height: 64px;
    overflow: hidden;
    border: solid 1px #d6d6d6;
    float: right;
}
.card {
    background: url("../image/select.png")no-repeat right;
    width: 196px;
    }
.bag_image {
    padding: 5px 0 0 9px;
    display: inline-block;
}
.bag_image img {
    width: 20px;
    height: 19px;
}
.bag_text {
    padding: 9px 13px 8px 0;
    font-size: 0.6667em;
    text-transform: uppercase;
    display: inline-block;
    float: right;
}
.bag_text a {
    color: #949393;
}
.slideshow-container {
    box-sizing:border-box;
    display: block;
    position: relative;
}
.mySlides  {
    width: 88.95478131949592%;
    height: 32.76501111934766%;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #fd926d;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.prev, .next {
    cursor: pointer;
    top: 40%;
    width: auto;

    padding: 40px 10px;
    color: #cacac9;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
}
.next {
    float: right;
    clear: both;
    position: absolute;
    right: 0;
}
.prev {
    position: absolute;
}
article {
    margin: 0 auto;
    padding: 0;
}
.socLine {
    margin: 32px auto 40px;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 55px;
    background-color: #ededed;
    vertical-align: middle;
    line-height: 55px;
}
.mail {
    display: inline-flex;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 28px;

}
.mail p {
    display: inline-block;
    color: #818181;
    font-size: 0.75em;
    margin-right: 14px;
}
input.mail-submit {
    margin-left: -5px;
    width: 28px;
    height: 29px;
    border: none;
    background: url("../image/btn-mail.png")no-repeat right;
}
input.mail-form  {
    border: none;
    box-shadow: none;
    width: 132px;
    height: 28px;
    background-color: white;
    box-sizing: border-box;
}
input.mail-form:focus {
    width: 132px;
}
.share {
    box-sizing: border-box;
    width: 247px;
    height: 55px;
    display: inline-flex;
    float: right;
    color: #6b6b6b;
    }
.share p {
    font-size: 0.75em;
    padding-right: 16px;
}
.share div {
    display: inline-block;
}
.share a {
    font-size: 1.375em;
    color: #6b6b6b;
}
.share a:hover {
    color: #fd926d;
}
.share-f, .share-p {
    background-color: #f7f7f7;
}
.share-f {
    padding: 0 22px;
}
.share-t {
    padding: 0 16px;
}
.share-p {
    padding: 0 17px;
}
.banners {
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    width: 972px;
    height: 339px;
    text-align: center;
}
.banners-left {
    display: inline-block;
    float: left;
}
.banners-right {
    display: inline-block;
    float: right;
}
.banners-l {
    display: block;
    width: 484px;
    height: 339px;
}
.banners-m {
    display: block;
    width: 486px;
    height: 172px;
}
.banners-s {
    display: inline-block;
    width: 240px;
    height: 169px;
}



