* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 7.166666666666667%;
    max-width: 1200px;
    width: 100%;
    font-family: Arial, sans-serif;
}
a {
    text-decoration: none;
}

.top {
    background-color: black;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
}
.top_left p {
    padding: 9px 4px 11px 115px;
    display: inline-block;
    float: left;
    color: white;
    font-size: 0.688em;
    font-weight: 400;
    text-transform: uppercase;
}
.top_left p:last-child {
    font-size: 0.750em;
    padding: 8px 0 11px 6px;
}
.top_right {
    padding-right: 115px;
    display: inline-flex;
    float: right;
}

.exchange select {
    padding: 7px 10px;
    border-radius: 0;
    background: transparent;
    width: 72px;
    border: 0;
    line-height: 1;
    -webkit-appearance: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.688em;
}
.exchange {
    border-left: 1px solid #444;
    margin-right: 14px;
    overflow: hidden;
    width: 56px;
    background: url("../image/select.png")no-repeat right;
}

.user {
    border-right: 1px solid #444;
    border-left: 1px solid #444;
}
.user a {
    padding-right: 15px;
    color: white;
    text-transform: uppercase;
    font-size: 0.688em;
   }
.fa-user {
    padding: 10px 10px 9px 14px;
    color: #666;
    font-size: 0.813em;
}
/*.search {
    border-right: 1px solid #444;
    cursor: pointer;
    background: url("image/search.png") no-repeat center;
    color: white;
}
#form {
    padding: 10px;
    background-color: #000;
    display: none;
}
#open {
    width: 35px;
    border: none;
    background: transparent;
}*/
.search {
    border-right: 1px solid #444;
    cursor: pointer;
}
input[type=text] {
    width: 36px;
    box-sizing: border-box;
    border: none;
    background-color: inherit;
    background-image: url('../image/search.png');
    background-position: 10px 5px;
    background-repeat: no-repeat;
    padding: 6px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    border: 1px solid black;
    background: white;
    width: 100%;
    }
.top_line {
    box-sizing: border-box;
    width: 80.91666666666667%;
    margin-left: 9.5%;
    margin-right: 9.583333333333333%;
    padding: 4px;
}
.logo {
    display: inline-block;
    padding: 38px 0 36px 0;
}

.menu {
    margin-left: 15.917%;
    display: inline-block;
    }
 ul.nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.nav > li {
    float: left;
    position: relative;
}
ul.nav > li > a {
    display: block;
    padding: 0 27px 0 5px;
    text-decoration: none;
    font-size: 1.000em;
    font-weight: 500;
    color: black;
}
ul.nav > li > a:last-child {
    padding-right: 0;
}
.nav img {
    padding: 2px 3px;
    }
ul.nav > li > a:hover {
    color: #666666;
}
ul.submenu {
    display: none;
    position: absolute;
    width: auto;
    top: 30px;
    left: 0;
        }
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 5px 15px 5px 5px;
    color: #666666;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: none;
    color: #666666;
}
ul.nav > li:hover > ul.submenu {
    display: block;
}

#cardcode {
    background: transparent;
    box-sizing: border-box;
    box-shadow: none;
    width: 240px;
    height: 32px;
    color: #949393;
    font-size: 0.750em;
    border-bottom: solid 1px #d6d6d6;
}
.right_bloc {
    margin-top: 18px;
    box-sizing: border-box;
    width: 212px;
    height: 64px;
    overflow: hidden;
    border: solid 1px #d6d6d6;
    float: right;
}
.card {
    background: url("../image/select.png")no-repeat right;
    width: 196px;
    }
.bag_image {
    padding: 5px 0 0 9px;
    display: inline-block;
}
.bag_text {
    padding: 9px 13px 8px 0;
    font-size: 0.6667em;
    text-transform: uppercase;
    display: inline-block;
    float: right;
}
.bag_text a {
    color: #949393;
}




