@media only screen and (min-width : 640px) and (max-width : 760px) {
    .top {
        height: auto;
    }
 .top_left {
     text-align: center;
     background-color: #fafafa;
     box-sizing: border-box;
     width: 100%;
     height: 97px;
     vertical-align: middle;
     line-height: 97px;
 }
    .top_left p, .top_left p:last-child {
        color: #838383;
        font-size: 2.509375025094em;
        padding: 0;
        float: none;
            }
 .top_right {
     margin: 0 auto;
     vertical-align: middle;
     line-height: 97px;
     float: none;
     background-color: black;
     box-sizing: border-box;
     width: 100%;
     height: 97px;
     font-size: 2.509375025094em;
     padding-right: 0;
 }
 .exchange {
     border: none;
     display: inline-block;
     margin: 0 auto 0 17px;
     text-align: center;
     width: 102px;
     background: url("../image/exchange-caret.png")no-repeat right;
 }
 .exchange select {
     width: 118px;
     padding: 0 7px;
 }
 .user {
     display: inline-block;
     margin: 0 auto;
     text-align: center;
     width: 385px;
     height: 97px;
     line-height: 97px;
 }
 .user a {
     padding-right: 60px;
 }
 .user img {
     width: 35px;
     height: 35px;
     padding: 30px 15px 30px 65px;
 }
    input.search-form {
        width: 99px;
        box-sizing: border-box;
        border: none;
        background-color: inherit;
        background-image: url('../image/search-big.png');
        background-position: 27px 15px;
        background-repeat: no-repeat;
        padding: 30px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
    .search {
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        border: none;
    }
 .logo {
     box-sizing: border-box;
     height: 201px;
     display: inline-block;
     width: 100%;
     text-align: center;
    }
 .logo img {
     padding: 58px 0 55px 0;
     width: 358px;
     height: 88px;
 }
 .card {
     display: none;
 }
 .right_bloc {
     background-color: #fafafa;
     float: none;
     width: 610px;
     height: 96px;
     margin: 0 auto;
     vertical-align: middle;
     line-height: 83px;
 }
    .bag_text {
        font-size: 2.509375025094em;
    }
    .bag_image img {
        width: 100%;
        height: 100%;
            }
    .bag_image {
        padding: 20px 0 24px 27px;
    }

    .menu {
        display: none;
    }
    .top_line {
        margin: auto;
        width: 100%;
    }
    .menu_mobile {
        display: inline-block;
        margin: 21px auto 17px auto;
        box-sizing: border-box;
        width: 100%;
        background-color: #fd926d;
    }
    #menu_mobile {
        display: inline-block;
        margin: 21px auto 17px auto;
        box-sizing: border-box;
        width: 100%;
        height: 50px;
        background-color: #fd926d;
        vertical-align: middle;
        line-height: 50px;
    }
    #btn-text {
        font-size: 1.5056250150564em;
        text-transform: uppercase;
        background: transparent;
        display: inline-block;
        color: white;
        float: left;
    }
    #btn-bar {
        text-transform: uppercase;
        font-size: 1.5056250150564em;
        background: transparent;
        display: inline-block;
        color: white;
        float: right;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 610px;
        width: 100%;

    }
    .dropdown-content a {
        color: black;
        background-color: whitesmoke;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover, .dropdown-content a:focus {
        background-color: #fd926d;
        color: white;
    }
    .slideshow-container {
        display: none;
    }
    .dot {
        display: none;
    }
    .socLine {
        text-align: center;
        margin: 0 auto;
        display: inline-block;
        box-sizing: border-box;
        width: auto;
        height: auto;
        background-color: white;
        vertical-align: middle;

    }
    .mail {
        margin: 0 auto;
        background-color: #ededed;
        display: inline-flex;
        box-sizing: border-box;
        vertical-align: middle;
        height: 96px;
        width: 611px;
            }
    .mail p {
        display: none;
    }

    input.mail-submit {
        margin-left: 0;
        width: 96px;
        height: 96px;
        border: none;
        background: url("../image/btn-mail-big.png")no-repeat right;
    }
    input.mail-form  {
        padding-left: 30px;
        font-style: italic;
        float: left;
        font-size: 1.500em;
        display: inline-block;
        background-color: #ededed;
        width: 515px;
        height: 96px;
        box-sizing: border-box;
    }
    input.mail-form:focus {
        width: 515px;
    }
    .share {
        line-height: 90px;
        margin-top: 25px;
        vertical-align: middle;
        float: none;
        width: 447px;
        height: 90px;
    }
    .share a {
        font-size: 2em;
            }
    .share p {
        font-size: 1.5em;
        padding-right: 34px;
    }
    .share-t {
        background-color: #ededed;
        padding: 0 28px;
    }
    .share-f {
        padding: 0 35px;
    }
    .share-p {
        padding: 0 29px;
    }
    .banners {
        display: none;
    }
    .tab {
        display: none;
    }
    .tab-mobile {
        margin-top: 26px;
        display: inline-block;
        width: 100%;
        background-color: #f4845d;
    }
    .tab-mobile select {
        font-size: 1.6em;
        color: white;
        display: inline-block;
        height: 89px;
        width: 100%;
        background-color: #f4845d;
    }
    .tablinks {
        padding: 25px 0;
    }

    .tabcontent {
        display: flex;
        width: 100%;
        padding: 0;
    }
    .container {
        height: 161px;
    }
    .container p {
        color: #373737;
        font-size: 1.6em;
    }
    .container h4 {
        padding-top: 10px;
        text-transform: uppercase;
        font-weight: 200;
        color: #373737;
        font-size: 1em;
    }
    #whats {
        display: flex;
    }
    .tabcontent ul li:nth-child(3), .tabcontent ul li:nth-child(4), .tabcontent ul li:nth-child(5) {
        display: none;
    }
    .tabcontent ul {
        margin: 34px auto;
    }
    .tabcontent li {
        margin: 0 16px;
        width: 274px;
        height: 524px;
    }
    .button-c {
        margin-bottom: 15px;
        margin-top: 15px;
        height: 68px;
        width: 222px;
        background-color: #fd926d;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 1.125em;
        cursor: pointer;
        box-shadow: 0 2px #dd6b44;
    }
    .saleit {
        width: 100%;
        height: auto;

    }
    .saleit ul li:nth-child(3), .saleit ul li:nth-child(4) {
        display: none;
    }

    .brands {
        display: none;
    }
    .about {
        display: none;
    }
    .cards {
        display: none;
    }
    .footer-list-menu {
        display: none;
    }
    .f-menu-left {
        display: none;
    }
    .f-menu-content {
        width: 100%;
    }
    .f-menu-left-mobile {
        display: inline-block;
        box-sizing: border-box;
        width: 50%;
        float: left;
        clear: both;
    }
    .saleit-btn {
        margin: 28px 0 36px 0;
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .saleit ul {
        margin: 0 auto;
        text-align: center;
    }
    .saleit{
     display: inline-block;
        margin: 0 auto;
    }
    .saleit-btn a {
        display: inline-block;
        text-transform: uppercase;
        color: white;
        padding: 20px 60px;
        text-align: center;
        background: black;
    }
    .saleit-btn a:hover {
        box-shadow: #3a3a3a;
        color: whitesmoke;
        opacity: 0.6;
    }
    #f-menu-left-mobile-btn  {
        background: transparent;
        color: white;
        font-size: xx-large;
        border: none;
        padding-left: 30px;
    }
    .f-menu-right {
        font-size: 1.5em;
        box-sizing: border-box;
        width: 50%;
        float: right;
        padding-right: 30px;
    }
}
