@media only screen and (min-width: 760px) and (max-width: 1199px) {
    .product {
        width: 760px;
    }
    .product-r {
        width: 45%;
    }
    select {
        width: 120px;
    }
    .soc-share {
        width: 760px;
    }
    .soc-share ul {
        margin: 40px;
    }
    .facebook {
        margin-left: 0;
    }
    .sale-it li:nth-child(3) {
        display: none;
    }
    .sale-it li {
        margin: 0 15px;
    }
    .sale-it {
        width: 760px;
    }
}

@media only screen and (min-width: 640px) and (max-width: 759px) {
    .product {
        display: flex;
        width: 640px;
    }
    .product-describe p {
        display: none;
    }
    .product-r {
        padding-left: 10px;
    }
    .product-header-r {
        float: none;
        margin: 0;
    }
    .product-bottom-r {
        float: none;
    }
    .product-bottom-r {
        line-height: 40px;
    }
    .button {
        width: 173px;
        margin: 10px 0;
    }
    .soc-share {
        display: none;
    }
    .sale-it li:last-child, .sale-it li:first-child {
        display: none;
    }
    .sale-it ul {
        display: inline-block;
    }
    .sale-it {
        width: 640px;
        text-align: center;
    }
}

@media only screen and  (min-width: 320px) and (max-width: 639px) {
    .product {
        margin: 0 auto;
    }
    .product-l img:first-of-type {
        width: 320px;
        height: auto;
        margin-bottom: 5px;
    }
    .product-l img {
        margin-right: 5px;
        width: 70px;
        height: auto;
    }
    .product-r-media-320 {
        display: inline-block;
        width: 100%;
    }
    .product-l {
        text-align: center;
    }
    .product-r > .breadcrumb-back {
        display: none;
    }
    .product-r > .product-header {
        display: none;
    }
    .product-header-l h3 {
        font-size: 0.75em;
    }
    .product-header-l p {
        font-size: 1.65em;
        margin: 20px 0;
    }
    .product-r-media-320 > .product-header {
        width: 100%;
    }
    .product {
        width: 100%;
        margin: 0 auto;
    }
    .product-header-r {
        margin-top: 20px;
    }
    .product-r {
        width: 100%;
    }
    .product-describe  {
        box-sizing: border-box;
        width: 320px;
        margin: 10px auto;
    }
    select {
        width: 100px;
    }
    .button-product, .number {
        width: 35px;
        height: 35px;
    }
    .button {
        height: 35px;
    }
    .buttons {
        margin: 10px auto;
        text-align: center;
    }
    .facebook {
        margin-left: 0;
    }
    .soc-share {
        width: 100%;
    }
    .soc-share div ul li:last-child {
        display: none;
    }
    .sale-it li {
        width: 150px;
        height: auto;
        margin: 0 10px;
    }
    .sale-it li img {
        width: 150px;
        height: auto;
    }
    .sale-it {
        width: 100%;
    }
    .gradient-list {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 320px){
    .product {
        width: 100%;
        margin: 0 auto;
    }
    .product-l {
        width: 98%;
        text-align: center;
    }
    .product-l img:first-of-type {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
    }
    .product-l img {
        margin-right: 5px;
        width: 22%;
        height: auto;
    }
    .product-r-media-320 {
        display: inline-block;
        width: 100%;
    }
    .product-r > .breadcrumb-back {
        display: none;
    }
    .product-r > .product-header {
        display: none;
    }
    .product-header-l h3 {
        font-size: 0.75em;
    }
    .product-header-l p {
        font-size: 1.65em;
        margin: 20px 0;
    }
    .product-r-media-320 > .product-header {
        width: 100%;
    }
    .product {
        width: 100%;
        margin: 0 auto;
    }
    .product-header-r {
        margin-top: 20px;
    }
    .product-r {
        width: 100%;
    }
    .product-describe  {
        box-sizing: border-box;
        width: 98%;
        margin: 10px auto;
    }
    select {
        width: 100px;
    }
    .button-product, .number {
        width: 35px;
        height: 35px;
    }
    .button {
        height: 35px;
        margin-top: 10px;
    }
    .buttons {
        margin: 10px auto;
        text-align: center;
    }
    .facebook {
        margin-left: 0;
    }
    .soc-share {
        width: 100%;
        margin: 12px auto;
    }
    .soc-share div {
        width: 100%;
    }
    .soc-share ul {
        margin-right: 0;
    }
    .soc-share div ul li:last-child {
        display: none;
    }
    .sale-it li {
        width: 22%;
        height: auto;
        margin: 0 2px;
    }
    .sale-it ul {
        width: 100%;
    }
    .sale-it li img {
        width: 100%;
        height: auto;
    }
    .sale-it {
        width: 100%;
        margin: 12px 0;
    }
    .gradient-list {
        margin: 0 auto;
    }
    .product-bottom-l {
        width: 30%;
    }
    .sale-it p {
        margin-bottom: 12px;
    }
}